.nav-font {
    font-family: 'Lora', serif;
  }

.modal-button {
    font-family: 'Lora', serif;
    width:55px;
    height:55px;
    display:block;
    background-color:transparent;
    color:black;
    border: none;
    outline:0;
}
.modal-button:focus,.modal-button:active {
  outline: none !important;
  box-shadow: none;
}

.modal-bg {
  background: linear-gradient(to bottom right, #daded4 13%, #a3bcb6 100%);
}