* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  
}

html {
  background: linear-gradient(to bottom right, #daded4 13%, #a3bcb6 100%);
  min-width: 575.98px;
  background-attachment: fixed;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
